.find_cars-lift {
	background: linear-gradient(rgb(249, 168, 38, 0.9), rgb(249, 168, 38, 0.9)),
		url('../assets//all-images//toyota-offer-2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 90px 40px;
}
.find_cars-lift h2 {
	font-weight: 600;
	font-style: 2.8rem;
	
}
.form {
	padding: 55px 17px;
	background: #fff;
}
.form_group {
	width: 30%;
	margin-bottom: 0;
	padding: 9x 0px;
}

.form_group input {
	border: 1px solid #7c8a972a;
	padding: 8px 12px;
	/* border:none; */
	outline: none;
	width: 100%;
}

.select_group {
	width: 30%;
}

.select_group select {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #7c8a972a;
	outline: none;
	color: #7c8a97;
}

.form_row {
	background: #fff;
	box-shadow: 5px 5px 15px -5px #7c8a97;
}

.hero_slider_section {
	position: relative;
	z-index: 10;
    margin-bottom: 200px;

}
.hero_form {
    position: absolute;
    bottom: -150px;
    width: 100%;
}
       
.form_group .btn{
    background: #000d6b;
    color:#fff;
    width: 100%;
    padding: 8px 15px;
    outline: none;
    border: none;
}

.form_group .btn:hover{
    background: #fff;
    border: 1px solid #000d6b;
}

@media only screen and (max-width: 992px) {
  .find__cars-left {
    padding: 65px 22px;
  }

  .find__cars-left h2 {
    font-size: 1.5rem;
  }

  .form {
    padding: 30px 10px;
  }

  .form__group input,
  .select__group select {
    padding: 7px 10px;
    font-size: 0.8rem;
  }

  .hero__form {
    bottom: -100px;
  }
}

@media only screen and (max-width: 768px) {
  .find__cars-left {
    padding-top: 20px;
    padding-bottom: 0;
    background: #fff;
    text-align: center;
  }

  .form {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 576px) {
  .form__group {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
  }

  .form__group input {
    font-size: 0.7rem !important;
  }

  .select__group {
    width: 100%;
    padding-right: 10px;
    font-size: 0.7rem;
  }

  .find__car-btn {
    font-size: 0.8rem;
  }

  .find__cars-left h2 {
    font-size: 1rem;
  }

  .hero__form {
    bottom: -250px;
  }
}